{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}

{% block contenido %}

<body>
	<!-- Lista desplegable -->
	<div class="dropdown">
		<select id="filtrar" name="filtrar" onchange="window.location.href=this.value" class="select">
			<option class="option" value="{% url 'noticias:listar' %}">Filtrar y Ordenar</option>
	
			<optgroup label="Categorías">
				<option class="option" value="{% url 'noticias:listar' %}">TODAS</option>
				{% for cat in categorias %}
					<option class="option" value="?id={{cat.pk}}&orden={{orden}}">{{cat.nombre}}</option>
				{% endfor %}
			</optgroup>
	
			<optgroup label="Por Antigüedad">
				<option class="option" value="?orden=asc&id={{id_categoria}}">Más antiguas primero</option>
				<option class="option" value="?orden=desc&id={{id_categoria}}">Más recientes primero</option>
			</optgroup>
	
			<optgroup label="Por Orden Alfabético">
				<option class="option" value="?orden=alpha_asc&id={{id_categoria}}">A-Z</option>
				<option class="option" value="?orden=alpha_desc&id={{id_categoria}}">Z-A</option>
			</optgroup>
		</select>
	</div>	

	<!-- Listado de noticias -->
	<div class="container">
		{% for noti in noticias %}
		<div class="card">
			<figure>
				<img src="{{noti.imagen.url}}" alt="">
			</figure>
			<div class="contenido">
				<h3>{{noti.titulo}}</h3>
				<p>FECHA: {{noti.fecha}}</p>
				<p>CATEGORIA: {{noti.categoria_noticia}}</p>
				<a href="{% url 'noticias:detalle' noti.pk %}">Leer mas...</a>
				{% if user.is_staff %}
					<a href="{% url 'noticias:eliminar_noticia' pk=noti.pk %}">Eliminar Noticia</a>
					<a href="{% url 'noticias:editar_noticia' pk=noti.pk %}">Editar Noticia</a>
    			{% endif %}
			</div>
		</div>
		{% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div><div class="container">
        {% endif %}
		{% endfor %}
	</div>

</body>

{% endblock contenido %}

