{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOTICIAS{% endblock titulo %}

{% block contenido %}

<body>
	<!-- Lista desplegable -->
	<div class="dropdown">
		<select id="categorias" name="categorias" onchange="window.location.href=this.value" class="select">
			<option class="option" value="{% url 'noticias:listar' %}">Seleccionar Categoría</option>
			<option class="option" value="{% url 'noticias:listar' %}">TODAS</option>
			{% for cat in categorias %}
				<option class="option" value="?id={{cat.pk}}">{{cat.nombre}}</option>
			{% endfor %}
		</select>
	</div>

	<!-- Listado de noticias -->
	<div class="container">
		{% for noti in noticias %}
		<div class="card">
			<figure>
				<img src="{{noti.imagen.url}}" alt="">
			</figure>
			<div class="contenido">
				<h3>{{noti.titulo}}</h3>
				<p>FECHA: {{noti.fecha}}</p>
				<p>CATEGORIA: {{noti.categoria_noticia}}</p>
				<a href="{% url 'noticias:detalle' noti.pk %}">Leer mas...</a>
			</div>
		</div>
		{% endfor %}
	</div>

	<div>
		<h2>Últimas 5 Noticias</h2>
		{% for noticia in noticias %}
			<div>
				<h3>{{ noticia.titulo }}</h3>
				<p>Categoría: {{ noticia.categoria_noticia.nombre }}</p>
				<p>Fecha: {{ noticia.fecha }}</p>
			</div>
		{% endfor %}
	</div>
</body>

{% endblock contenido %}

