<!-- modificar_comentario.html -->
{% extends 'base.html' %}
{% load static %}

{% block titulo %}Modificar Comentario - SA{% endblock titulo %}

{% block contenido %}
<div class="seccion-modificar-container">
    <div class="seccion-modificar">
        <h2>Modificar Comentario</h2>
        <form method="POST" action="{% url 'noticias:modificar_comentario' comentario.id %}">
            {% csrf_token %}
            <textarea name="nuevo_texto" maxlength="1500">{{ comentario.texto }}</textarea>
            <input type="submit" value="Guardar">
        </form>
        <a class="volver-detalle" href="{% url 'noticias:detalle' pk=comentario.noticia.pk %}">Cancelar</a>
    </div>
</div>
<br><br>
{% endblock %}
