* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
    height: 100%;
}

.bloque{
	padding: 0;
    padding-top: 80px;
    background-color: black;
    position: relative;
}

/* Imagenes Inicio */
.slider-box {
	width: 100%;
	height: auto;
	margin: 0;
	overflow: hidden;
}

.slider-box ul {
	display: flex;
	padding: 0;
	width: 300%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li {
	width: 33.333%;
	list-style: none;
	position: relative;
}

.texto {
	position: absolute;
	text-align: center;
	padding: 10px;
	top: 310px;
	left: 50%;
	transform: translateX(-50%);
	color: #ffffff;
	font-weight: bold;
	font-size: 60px;
	font-style: italic;
	letter-spacing: 1px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	white-space: nowrap;
}

.slider-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes slide {
    5% { margin-left: 0; }
    35% { margin-left: 0; }

    35% { margin-left: -100%; }
    70% { margin-left: -100%; }

    70% { margin-left: -200%; }
    100% { margin-left: -200%; }
}

.parrafo {
    text-align: center;
    padding: 50px;
    color: white;
}

/* Navbar */
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 7%;
    height: 80px;
    background-color: #0a1a2a;
    display: flex;
    align-items: center;
	/* border-bottom: 1px solid white; */
}

nav .menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

nav .list li {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
}

nav .list a:hover {
    background-color: blue;
}

nav .user {
	margin: 20px;
    color: white;
}

nav .list1 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav .list1 li {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .list1 a {
    display: block;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
}

nav .list1 a:hover {
    background-color: blue;
}

nav .list1 img {
    width: 30px;
    height: 30px;
    margin-right: -10px;
}

/* Menu desplegable */
.user-dropdown {
    position: relative;
}

.user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -25px;
    background-color: #0a1a2a;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding-bottom: 16px;
}

.user-dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    border-radius: 0;
    padding: 20px 0;
}

.dropdown-content a {
    color: #0a141d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-dropdown .dropdown-content a {
    width: 100%;
    display: block;
    box-sizing: border-box; 
    padding: 12px 16px;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0;
    text-align: center;
}

/* Listar Noticias */

.container{
	width: 100%;
    display: flex;
	max-width: 600px;
    padding-top: 10px;
    padding-left: 180px;
    width: calc(100% - 320px);
    padding-bottom: 40px;
    background-color: black;
}

.card {
	flex: 0 0 calc(33.333% - 20px);
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: black;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	cursor: default;
	transition: all 400ms ease;
	max-width: 430px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
	transform: translateY(-3%);
}

.card img {
	width: 100%;
	height: 300px;
}

.card .contenido {
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card .contenido p {
	line-height: 1.5;
	color: #ffffff;
    font-size: 14px;
}

.card .contenido h3 {
	font-weight: 200px;
	margin-bottom: 30px;
    color: white;
    font-size: 18px;
}

.card .contenido .botones a {
    font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
    padding: 6px 8px; 
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 5px;
    margin: auto;
    width: fit-content;
    margin-bottom: 30px;
    font-size: 13px;
    margin-top: 10px;
}

.card .contenido a:hover {
	background-color: #0056b3; 
    border-color: #0056b3; 
} 

/* Lista desplegable */
.dropdown {
	margin: 20px;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
}

.select {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: black;
	cursor: pointer;
    color: white;
    padding-right: 10px;
}

option {
	background-color: black;
	color: white;
}

option:checked {
	background-color: #ddd;
}

/* Footer */
.footer{
    width: 100%;
    background-color: #0a141d;
}
footer .cluster1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.footer .cluster1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.footer .cluster1 .box figure img{
    width: 350px;
    margin-left: -42px;
}
.footer .cluster1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    margin-top: 120px;
}
.footer .cluster1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .cluster1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.footer .cluster1 .red-social a:hover{
    color: aqua;
}
.footer .cluster2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.footer .cluster2 small{
    font-size: 15px;
}

/* Login */

.body-login {
    padding-top: 150px;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.login-box {
    width: 500px;
    height: 600px;
    background: #0a1a2a;
    color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-10%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.login-box .avatar {
    width: 150px;
    height: 150px;
    border-radius: 200%;
    position: absolute;
    top: -50px;
    left: calc(45% - 45px);
}

.login-box h1 {
    text-align: center;
    padding: 100px 0 20px;
    font-size: 35px;
    margin-bottom: 30px;
}

.login-box label {
    font-weight: bold;
    display: block;
    font-size: 20px;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type='text'],
.login-box input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    background: blue;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: darkgrey;
    display: block;
}

.login-box a:hover {
    color: white;
}

/* Registro */

.body-registro {
    padding-top: 160px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.registro-form {
    width: 500px;
    height: 900px;
    background: #0a1a2a;
    color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-8%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.registro-form .avatar {
    width: 150px;
    height: 150px;
    border-radius: 200%;
    position: absolute;
    top: -50px;
    left: calc(45% - 45px);
}

.registro-form h3 {
    text-align: center;
    padding: 100px 0 20px;
    font-size: 35px;
    margin-bottom: 30px;
}  

.form-group label {
    font-weight: bold;
    display: block;
    font-size: 20px;
}

.form-group input {
    width: 100%;
    margin-bottom: 20px;
}

.form-group input[type='text'],
.form-group input[type='password'],
.form-group input[type='email'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.form-group input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    background: blue;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.form-group a {
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: darkgrey;
    display: block;
    text-align: center;
}

.form-group a:hover {
    color: white;
}

/* Detalle Noticias */
.detalle-body {
    width: 100%;
    height: 500px;
    position: relative;
    color: white;
}

.content {
    width: 1200px;
    margin-left: 200px;
    margin-right: 1200px !important; /* Añade !important para asegurarte de que prevalezca */
    margin-top: 50px;
}


.content article {
    width: 100%;
    padding-bottom: 40px;

}

.content .fecha-titulo p {
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.content .fecha-titulo h1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.content .imagen {
    width: 100%;
    height: auto;
    text-align: center; /* Para centrar la imagen */
}

.content .imagen img {
    max-width: 900px; /* Hace que la imagen sea responsive y no supere el ancho del contenedor */
    height: 100%; /* Mantiene la proporción de la imagen al cambiar el ancho */
    display: inline-block; /* Permite centrar verticalmente la imagen */
}


.content .cuerpo {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 18px;
    max-width: 1030px;
    padding-left: 200px;
}

/* sidebar */
.contenedor-aside {
    padding-bottom: 0;
    margin: 0;
}

.contenedor-aside aside {
    float: right;
    width: 320px;
    border-right: 6px;
    /* box-shadow: 10px 10px 20px 20px;  Para sobras  */
    margin-top: 50px;
    background-color: black;
    padding-right: 20px;
    color: white;
    height: 100%;
    overflow-y: auto;
    min-height: 100%;
}

.aside1,
.aside2,
.aside3 {
    margin-bottom: 50px;
}

.contenedor-aside aside h4 {
    text-align: center;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-aside aside img {
    width: 100%;
}

.contenedor-aside aside h2,
.contenedor-aside aside p {
    margin-top: 20px;
    padding: 0px 20px;
}

.contenedor-aside aside h2 {
    font-size: 18px;
    text-align: center;
}

.contenedor-aside aside p {
    font-size: 12px;
}

.contenedor-aside aside button {
    margin-top: 20px;
    margin-left: 20px;
    padding: 8px 20px;
    font-size: 12px;
    background: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    justify-content: center;
}

.contenedor-aside aside button:hover {
    opacity: 0.9;
}

/* Comentarios */
.comentario {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.comentario h3 {
    margin-bottom: 10px;
}

.comentario textarea {
    width: 600px;
    height: 100px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    background-color: #5e5d5c;
}

.comentario textarea[placeholder="Comentario"] {
    color: rgba(0, 0, 0, 0.2);
}

.comentario input[type="submit"] {
    width: 80px;
    height: 30px;
    padding: 5px;
    margin-bottom: 30px;
    margin-left: 500px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.comentario input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse, ajusta según sea necesario */
    border-color: #0056b3;
}

.seccion-comentarios {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion-comentarios h3 {
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 50px;
}

.linea {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.comentario-item {
    margin-bottom: 40px;
    padding: 0;
}

.comentario-item .usuario {
    text-transform: uppercase;
}

.comentario-item .fecha {
    font-size: 15px;
}

.comentario-normal {
    font-size: 18px;
    margin-left: 0;
    border-bottom: 1px solid white; /* Añade una línea blanca debajo del comentario */
    padding-bottom: 30px; /* Ajusta según sea necesario para separar la línea del texto */
}

.boton {
    display: flex;
    justify-content: flex-end;
    border: none;
}

.boton .eliminar,
.boton .modificar {
    display: inline-block;
    padding: 4px 8px; /* Ajusta el relleno según sea necesario */
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* Color de fondo del botón, puedes ajustarlo */
    border: 1px solid #007BFF; /* Borde del botón, puedes ajustarlo */
    border-radius: 5px; /* Esquinas redondeadas del botón */
    margin-right: 10px; /* Espacio entre los botones, ajusta según sea necesario */
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 10px;
}

.boton .eliminar:hover,
.boton .modificar:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse, ajusta según sea necesario */
    border-color: #0056b3; /* Cambia el color del borde al pasar el mouse, ajusta según sea necesario */
}

.boton p {
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.volver-lista {
    display: inline-block;
    padding: 10px 15px; /* Ajusta el relleno según sea necesario */
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* Color de fondo del botón, puedes ajustarlo */
    border: 1px solid #007BFF; /* Borde del botón, puedes ajustarlo */
    border-radius: 5px; /* Esquinas redondeadas del botón */
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 30px;
    font-size: 14px;
    margin-top: 20px;
}

.volver-lista:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse, ajusta según sea necesario */
    border-color: #0056b3;
}

.seccion-modificar-container {
    width: 700px;
    height: 500px;
    background: black;
    color: #fff;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-10%);
    box-sizing: border-box;
    padding: 30px 30px;
    margin-top: 140px;
    border: 2px solid white;
}

.seccion-modificar {
    max-width: 800px; /* Ajusta el valor según sea necesario */
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /* Centra el texto dentro del contenedor */
    padding-top: 50px;
}

.seccion-modificar textarea {
    width: 600px;
    height: 100px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 30px;
    font-size: 16px;
    background-color: #5e5d5c;
    color: white;
}

.seccion-modificar input[type="submit"] {
    width: 120px;
    height: 30px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: #007BFF;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
}

.seccion-modificar input[type="submit"]:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse, ajusta según sea necesario */
    border-color: #0056b3;
}

.volver-detalle {
    display: inline-block;
    padding: 6px 10px; /* Ajusta el relleno según sea necesario */
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* Color de fondo del botón, puedes ajustarlo */
    border: 1px solid #007BFF; /* Borde del botón, puedes ajustarlo */
    border-radius: 5px; /* Esquinas redondeadas del botón */
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 30px;
    font-size: 16px;
    margin-top: 20px;
}

.volver-detalle:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse, ajusta según sea necesario */
    border-color: #0056b3;
}

/* Portada */

.contenedor-noticias-recientes {
    margin-bottom: auto;
}

.portada, .portada-2, .portada-3 {
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 25vh;  */
    color: white;
}

.portada h2, .portada p {
    font-size: 30px;
    /* margin: 10px 0; */
}

.portada h2 {
    font-size: 40px;
    margin-top: 60px;
}

.portada-2,
.portada-3 {
    font-size: 30px;
    margin-top: 0;
}

.portada-3 {
    margin-bottom: 0;
}

.division {
    border-bottom: 1px solid white;
    margin-bottom: 60px;
    margin-top: 60px;
    max-width: 800px;
}

/* Noticias recientes */

.titulo-noti-reciente{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.contenedor-noticias-recientes {
    list-style: none;
    padding: 0;
    padding-bottom: 40px;
    position: relative;
    color: white;
}

.contenedor-noticias-recientes li {
    display: flex;
    align-items: center;
    margin: 20px 0;
    margin-left: 300px;
    margin-bottom: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-noticias-recientes li:nth-child(even) {
    flex-direction: row-reverse;
    /* margin-left: auto; */
    margin-right: 300px;
}

.contenedor-noticias-recientes img {
    border-radius: 50%;
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 200px; /* Ajusta el tamaño según sea necesario */
    object-fit: cover;
    margin-right: 50px;
    transition: transform 0.3s ease;
}

.contenedor-noticias-recientes img:hover {
    transform: scale(1.1); /* Cambia el tamaño al pasar el mouse por encima */
}

.contenedor-noticias-recientes h3, 
.contenedor-noticias-recientes p {
    margin: 5px 0;
    font-size: 20px;
}

.contenedor-noticias-recientes h3 {
    max-width: 600px;
}

.contenedor-noticias-recientes li:nth-child(even) h3,
.contenedor-noticias-recientes li:nth-child(even) p {
    margin-right: 60px;
    text-align: right;
}

.contenedor-noticias-recientes li:nth-child(even) .contenido-noti {
    text-align: right;
}
.contenedor-noticias-recientes li:nth-child(even) a {
    text-align: right;
    margin-right: 60px;
}

.contenedor-noticias-recientes .contenido-noti a {
    display: inline-block;
    padding: 10px 15px; /* Ajusta el relleno según sea necesario */
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* Color de fondo del botón, puedes ajustarlo */
    border: 1px solid #007BFF; /* Borde del botón, puedes ajustarlo */
    border-radius: 5px; /* Esquinas redondeadas del botón */
    margin-right: 10px; /* Espacio entre los botones, ajusta según sea necesario */
    margin-bottom: 10px;
    font-size: 14px;
    margin-top: 10px;
}

/* Crear Noticia */
.contenedor-crear-noti {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.contenedor-crear-noti h1 {
    margin-left: 2%;
    padding-bottom: -40px;
}

.contenedor-crear-noti::before,
.contenedor-crear-noti::after {
    content: "";
    height: 100%;
    width: 1px; /* Ajustado el ancho de la línea */
    background-color: white;
    position: absolute;
    top: 0;
}

.contenedor-crear-noti::before {
    left: 600px;
}

.contenedor-crear-noti::after {
    right: 600px;
}
  
.formulario-centrado {
    max-width: 400px; 
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white; 
    margin: auto;
    background: black;
    padding-right: 20px;
    font-size: 20px;
}

.formulario-centrado input,
.formulario-centrado textarea,
.formulario-centrado button {
    margin-bottom: 10px; 
    margin-top: 20px;
    margin-left: -11%;
}

.formulario-centrado input,
.formulario-centrado textarea {
    width: 120%; /* Establece el ancho al 100% del contenedor */
    padding: 15px; /* Añade relleno para mejorar la apariencia */
    box-sizing: border-box; /* Incluye el relleno en el ancho total */
    border: 1px solid #ccc;
    background-color: #5e5d5c;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.formulario-centrado input[type="file"] {
    background-color: black;
    color: white; /* Cambia el color del texto para que sea visible en el fondo negro */
    border: 0;
    margin-left: 4%;
    cursor: pointer;
}

.formulario-centrado input[type="file"]::-webkit-file-upload-button {
    border: 0; 
    padding: 5px 8px; /* Ajusta el padding según tus preferencias */
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.formulario-centrado button {
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 2%;
    padding: 10px 25px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}

.formulario-centrado button:hover {
    background-color: #0056b3;
}

.formulario-centrado select {
    background-color: #333;  /* Cambia el color de fondo según tus preferencias */
    color: white;  /* Cambia el color del texto según tus preferencias */
    font-size: 16px;
    padding: 4px;
    margin-left: 5px;
    font-size: 10px;
}
  
/* Mi Cuenta */
.user-profile {
    padding-top: 120px;
    padding-bottom: 60px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 700px;
    position: relative;
    color: white;
}

.user-profile::before,
.user-profile::after {
    content: "";
    height: 100%;
    width: 1px; /* Ancho de la línea blanca */
    background-color: white;
    position: absolute;
    top: 0;
}

.user-profile::before {
    left: -100px; /* Alinea la línea a la izquierda */
}

.user-profile::after {
    right: -100px; /* Alinea la línea a la derecha */
}

.user-profile h3 {
    margin-right: 400px;
    font-size: 30px;
}

.user-profile h1 {
    margin-right: 300px;
    font-size: 60px;
}


.user-info .datos {
    display: inline-block;
    text-align: left;
    padding-top: 50px;
    font-size: 20px;
    padding-bottom: 80px;
}

.user-info p {
    margin-bottom: 10px; /* Ajusta el valor según tus necesidades */
}

.user-info .datos p {
    margin-bottom: 20px; /* Ajusta el valor según tus necesidades */
}

.user-info .botones a {
    display: block;  /* Hace que los enlaces sean bloques para que estén uno debajo del otro */
    margin-bottom: 10px;  
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.user-info .botones a:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
}

.linea-perfil {
    border-bottom: 1px solid white;
}

.crear-categoria-container {
    text-align: center;
}

.crear-categoria {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;  
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 30%;
}

.crear-categoria:hover {
    background-color: #555;
}

.linea-categoria {
    width: 30%;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

/* Editar Perfil */
.editar-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Ajusta esto según tus necesidades */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 90px; /* Ajusta esto para dejar espacio con la navbar */
    padding-bottom: 80px; /* Ajusta esto para dejar espacio con el footer */
    position: relative;
    color: white;
}

.editar-perfil h2 {
    font-size: 30px;
}

.editar-perfil::before,
.editar-perfil::after {
    content: "";
    height: 100%;
    width: 1px; /* Ajustado el ancho de la línea */
    background-color: white;
    position: absolute;
    top: 0;
}

.editar-perfil::before {
    left: 600px;
}

.editar-perfil::after {
    right: 600px;
}

.perfil-form {
    max-width: 400px; /* Ajusta esto según tus necesidades */
    width: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
    position: relative;
}

.perfil-form label {
    display: block;
    margin-bottom: 5px; /* Ajusta esto según tus necesidades */
}

.perfil-form input,
.perfil-form select,
.perfil-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px; /* Ajusta esto según tus necesidades */
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.perfil-form input:not([type="file"]){
    background-color: #5e5d5c;
    color: white;
    font-size: 16px;
}

.perfil-form input[type="file"]::-webkit-file-upload-button {
    background-color: #007BFF;
    color: white;
    padding: 4px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.perfil-form button {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cancelar {
    margin-top: 10px; /* Ajusta esto según tus necesidades */
    display: inline-block;
    padding: 10px 15px; /* Ajusta el relleno según sea necesario */
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* Color de fondo del botón, puedes ajustarlo */
    border: 1px solid #007BFF; /* Borde del botón, puedes ajustarlo */
    border-radius: 5px; /* Esquinas redondeadas del botón */
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 30px;
    font-size: 14px;
    margin-top: 20px;
}

.perfil-form .help-text {
    max-width: 150px; /* Ajusta esto según tus necesidades */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
}

.perfil-form p {
    max-width: 700px; /* Ajusta esto según tus necesidades */
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
}

/* Seccion Nosotros */
.nosotros {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.nosotros h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px;
    margin-left: 30%;
}

.nosotros1,
.nosotros2,
.nosotros3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px;
    max-width: 1500px;
    font-size: 20px;
    margin-left: 12%;
}

.nosotros2 {
    flex-direction: row-reverse; /* Invierte el orden de los elementos en .nosotros2 */
}

.nosotros1 {
    margin-left: 19%;
    max-width: 1200px;
}

.fondo-nosotros1,
.fondo-nosotros2 {
    background-color: #0d2033;
}

.nosotros1 img {
    width: 400px;
    height: 400px;
}
.nosotros2 img,
.nosotros3 img {
    width: 500px;
    height: 400px;
}

.nosotros1 img,
.nosotros2 img,
.nosotros3 img {
    margin-right: 30px;
}

.equipo {
    text-align: center;
    padding-bottom: 50px;
    font-size: 24px;
}

/* Crear Categoria */

.contenedor-total {
    max-width: 500px;
    margin: auto;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px; /* Ajusta según sea necesario para redondear las esquinas */
    padding: 20px; /* Ajusta según sea necesario para agregar espacio interno */
    margin-top: 90px;
}

.conteiner-crear-categoria {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.conteiner-crear-categoria h1 {
    font-size: 26px;
    margin-bottom: 30px;
}

.formulario-crear-categoria {
    max-width: 400px;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    background-color: black;
}

.formulario-crear-categoria #id_nombre {
    width: 100%; /* Ajusta según sea necesario */
    height: 30px;
    padding: 16px;
    margin-top: 20px;
    background-color: #5e5d5c;
    color: white;
    border: none;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}

.formulario-crear-categoria label[for="id_nombre"] {
    margin-bottom: 40px;
    font-size: 23px; /* Ajusta el tamaño de fuente de la etiqueta del campo Nombre */
}

.formulario-crear-categoria label[for="id_nombre"] {
    margin-bottom: 40px;
}

.formulario-crear-categoria label[for="id_campo_adicional"] {
    margin-bottom: 40px;
}

.formulario-crear-categoria button {
    margin-top: 40px;
    font-size: 14px;
    padding: 10px 28px;
    background-color: #007BFF;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 50px;
    color: white;
}

.formulario-crear-categoria button:hover {
    background-color: #0056b3;
}

.crear-categoria-cancelar a {
    font-size: 14px;
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 28px;
}

.crear-categoria-cancelar a:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse, ajusta según sea necesario */
}

/* Cambio Contraseña */
.cambio-contrasena {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.cambio-contrasena h2 {
    font-size: 32px;
}

.cambio-contrasena::before,
.cambio-contrasena::after {
    content: "";
    height: 100%;
    width: 2px; /* Ancho de la línea */
    background-color: white; /* Color de la línea */
    position: absolute;
    top: 0;
}

.cambio-contrasena::before {
    left: 600px; /* Ajusta la posición a la izquierda */
}

.cambio-contrasena::after {
    right: 600px; /* Ajusta la posición a la derecha */
}

.cambio-contrasena h2,
.cambio-contrasena form,
.cambio-contrasena button,
.cambio-contrasena a {
    margin-top: 40px;
}

.cambio-contrasena button {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #007BFF;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 6px;
    margin-bottom: 60px;
}

.cambio-contrasena input[type="password"] {
    font-size: 18px;
    width: 100%; /* Asegura que el ancho del campo de contraseña sea del 100% */
    margin-top: 20px; /* Espacio entre los campos de contraseña */
    margin-bottom: 20px;
    background-color: #5e5d5c;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.cambio-contrasena a {
    margin-top: 70px; /* Ajusta esto según tus necesidades */
    display: inline-block;
    padding: 10px 15px; /* Ajusta el relleno según sea necesario */
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* Color de fondo del botón, puedes ajustarlo */
    border: 1px solid #007BFF; /* Borde del botón, puedes ajustarlo */
    border-radius: 5px; /* Esquinas redondeadas del botón */
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 30px;
    font-size: 14px;
}

/* Contacto */
#contacto {
    height: 80vh;
    display: grid;
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
}

.contacto-contenedor {
    width: 70%;
    min-height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contacto-info {
    flex: 1;
    padding: 40px 30px;
    background-color: #0d2033;
    color: white;
}

.contacto-info:nth-child(1) {
    flex: 30%;
    background-color: #0d2033;
    color: white;
}

.contacto-info:nth-child(2) {
    flex: 30%;
    padding: 0;
}

.contacto-info h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contacto-info h1 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contacto-info h1 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: black;
    color: white;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contacto-info p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.social-media p {
    font-size: 16px;
}

.social-media ul {
    padding: 0;
    margin: 0;
}

.social-media ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.social-media ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: black;
    border-radius: 50px;
}

.social-media ul li a i {
    font-size: 16px;
    line-height: 30px;
    color: black;
}

.mapa {
    flex: 1; 
    padding: 0 20px; 
}

