{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block titulo %}Inteligencia Artificial en Acción: Transformando el Mañana{% endblock titulo %}</title>
	<link rel="shortcut icon" href="{% static 'img/logo-sa.png' %}">
	<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="fontawesome/fontawesome-free-6.5.1-web/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
	integrity="sha512-jBkA7+TvsRNbWy0yND5Pbz2i5Zl2WM+aD3Pz1HFX1ZFvqPifSUC/5AizZyNFsQECobk39rYl5XzQKrKFMy6IXg==" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<!-- Navbar -->
<body>
	<header>
		<nav>
			<img href="{% url 'home' %}" src="{% static 'img/logo-sa.png' %}" width="60px" height="55px">
			<div class="menu">
				<ul class="list">
					<li><a href="{% url 'home' %}"><i class="fas fa-home" style="margin-right: 5px;"></i> Inicio</a></li>
					<li><a href="{% url 'noticias:listar' %}"><i class="fas fa-newspaper" style="margin-right: 5px;"></i> Categorias</a></li>
					<li><a href="{% url 'nosotros' %}"><i class="fas fa-user" style="margin-right: 5px;"></i> Acerca de</a></li>
					<li><a href="{% url 'contacto' %}"><i class="fas fa-envelope" style="margin-right: 5px;"></i> Contacto</a></li>
					{% if user.is_staff %}
                    	<li><a href="{% url 'noticias:crear_noticia' %}"><i class="fas fa-edit" style="margin-right: 5px;"></i> Crear Noticia</a></li>
                	{% endif %}
				</ul>
				<ul class="list1">
					<li class="user-dropdown">
						{% if user.is_authenticated %}
							<img src="{% static 'img/user.png' %}">
							<strong class="user" style="text-transform: uppercase;">Hola {{ user.username }}</strong>
							<ul class="dropdown-content">
								<li><a href="{% url 'usuarios:mi_cuenta' %}">MI CUENTA</a></li>
								<li><a href="{% url 'logout' %}"> CERRAR SESIÓN</a></li>
							</ul>
						{% else %}
							<a href="{% url 'login' %}"><i class="fas fa-sign-in-alt" style="margin-right: 5px;"></i> INICIAR SESIÓN</a>
							<a href="{% url 'usuarios:registro' %}"><i class="fas fa-user-plus" style="margin-right: 5px;"></i> REGISTRARSE</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</nav>
	</header>

	

	<div class="bloque">
	{% block contenido %}

	{% endblock contenido %}
	</div>


	<!-- Footer -->
	<footer class="footer">
		<div class="cluster1">
			<div class="box">
				<figure>
					<a href="#">
						<img src="{% static 'img/logo-sa.png' %}" alt="">
					</a>
				</figure>
			</div>
			<div class="box">
				<h2>SOBRE NOSOTROS</h2>
				<p>"S.A.: Tu fuente confiable de noticias sobre Inteligencia Artificial.</p>
				<p>
					"¡Únete a nosotros en este emocionante viaje! Inspírate, desafía tu 
					pensamiento y encuentra en nosotros tu destino confiable para todo sobre Inteligencia Artificial."</p>
			</div>
			<div class="box">
				<h2>SIGUENOS EN NUESTRAS REDES</h2>
				<div class="red-social">
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
					<a href="#" class="fa fa-linkedin"></a>
				</div>
			</div>
		</div>
		<div class="cluster2">
			<small>&copy; 2023 <b>Sandoval Alexis</b> - Todos los Derechos Reservados.
			<p>Quitilipi - Chaco, Argentina.</p></small>
		</div>
	</footer>
</body>
</html>
