{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>IA -  {% block titulo %}{% endblock titulo %}</title>
	<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
	integrity="sha512-jBkA7+TvsRNbWy0yND5Pbz2i5Zl2WM+aD3Pz1HFX1ZFvqPifSUC/5AizZyNFsQECobk39rYl5XzQKrKFMy6IXg==" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<!-- Navbar -->
<body>
	<header>
		<nav>
			<img src="{% static 'img/icono.png' %}" width="60px" height="60px">
			<div class="menu">
				<ul class="list">
					<li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Inicio</a></li>
					<li><a href="{% url 'noticias:listar' %}"><i class="fas fa-newspaper"></i> Categorias</a></li>
					<li><a href="{% url 'nosotros' %}"><i class="fas fa-user"></i> Acerca de</a></li>
					<li><a href=""><i class="fas fa-envelope"></i> Contacto</a></li>
					{% if user.is_staff %}
                    	<li><a href="{% url 'noticias:crear_noticia' %}"><i class="fas fa-edit"></i> Crear Noticia</a></li>
                	{% endif %}
				</ul>
				<ul class="list1">
					<li class="user-dropdown">
						{% if user.is_authenticated %}
							<img src="{% static 'img/user.png' %}">
							<strong class="user" style="text-transform: uppercase;">Hola {{ user.username }}</strong>
							<ul class="dropdown-content">
								<li><a href="{% url 'usuarios:mi_cuenta' %}">MI CUENTA</a></li>
								<li><a href="{% url 'logout' %}"> CERRAR SESIÓN</a></li>
							</ul>
						{% else %}
							<a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> INICIAR SESIÓN</a>
							<a href="{% url 'usuarios:registro' %}"><i class="fas fa-user-plus"></i> REGISTRARSE</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="bloque">
	{% block contenido %}

	{% endblock contenido %}
	</div>

	<!-- Footer -->
	<footer class="footer">
		<div class="cluster1">
			<div class="box">
				<figure>
					<a href="#">
						<img src="{% static 'img/fooster.png' %}" alt="">
					</a>
				</figure>
			</div>
			<div class="box">
				<h2>SOBRE NOSOTROS</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quod.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, a.</p>
			</div>
			<div class="box">
				<h2>SIGUENOS</h2>
				<div class="red-social">
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
				</div>
			</div>
		</div>
		<div class="cluster2">
			<small>&copy; 2023 <b>Sandoval Alexis</b> - Todos los Derechos Reservados.
			<p>Quitilipi - Chaco.</p></small>
		</div>
	</footer>
</body>
</html>
