{% extends 'base.html' %}
{% load static %}

{% block titulo %}INICIO{% endblock titulo %}

{% block contenido %}

<!-- Lista de imagenes -->
<body>
	<div class="slider-box">
		<ul>
			<li>
				<img src="{% static 'img/IA-1.jpg' %}">
			</li>
			<li>
				<img src="{% static 'img/IA-2.jpg' %}">
			</li>
			<li>
				<img src="{% static 'img/IA-3.jpeg' %}">
			</li>
		</ul>
		<div class="texto">
			<p>La IA no te sustituirá, una persona que use IA lo hará</p>
		</div>
	</div>
	<br><br><br><br>

	<p class="parrafo">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, architecto aut 
		deleniti et officia blanditiis exercitationem facilis assumenda natus. Consequuntur 
		aspernatur quisquam illo suscipit, molestias, impedit recusandae expedita molestiae 
		vel eveniet voluptatem quis, nemo at iure earum nam eos. Veniam voluptatem 
		reprehenderit provident, facere quo temporibus sint fugit officia repellat sequi 
		mollitia vero autem commodi eligendi est consectetur odio iste sunt. Natus enim eum 
		nulla asperiores cum quas odio dolores nobis libero necessitatibus dolor rerum id, 
		sint alias in dicta pariatur nesciunt suscipit vel molestiae debitis minima tempore 
		qui iusto. Cumque enim molestiae fugit ipsa fuga eveniet aliquid officia libero atque, 
		provident nobis doloremque magni. Laudantium nihil vel, eos fugit odio excepturi 
		eligendi amet similique, eveniet minima quae veritatis tenetur illum ipsum praesentium 
		labore doloribus eaque delectus blanditiis laboriosam officiis! Hic dolores nulla 
		nostrum animi nemo voluptates totam tenetur commodi accusamus nisi, fugit repellat 
		eum rerum consequuntur suscipit est? Ab quibusdam et officiis vel ducimus veritatis 
		perferendis aspernatur distinctio eum blanditiis saepe laboriosam reprehenderit, ut, 
		facere enim consequatur accusantium. Perspiciatis voluptatibus voluptate praesentium 
		pariatur consequatur soluta ipsa sint deleniti cum odio suscipit quaerat officia 
		commodi eligendi eius laudantium placeat, molestias quod, vel enim possimus. 
		Necessitatibus, numquam magni corporis ullam explicabo doloremque debitis, 
		consequatur deleniti officiis nulla cupiditate quasi repellendus consectetur 
		deserunt culpa? Vitae voluptas totam repellendus beatae numquam itaque animi 
		similique adipisci sequi recusandae neque saepe, voluptate et. In modi illo 
		eum similique magni at ipsum? Repudiandae fugit corporis modi nam, a enim hic sed. 
		Eveniet, cumque facere consequuntur debitis odio eius veritatis aperiam blanditiis 
		maiores assumenda animi modi ea nulla vel corporis perspiciatis repudiandae eum velit 
		reiciendis voluptas, quia dolor error! Obcaecati recusandae consequatur dignissimos 
		perspiciatis praesentium magni similique reprehenderit officiis, eos provident 
		perferendis odit culpa est, vero porro maiores minus facere nulla. Hic vitae pariatur 
		obcaecati enim iure, voluptatum veniam aperiam nesciunt in doloremque officiis 
		alias voluptate totam ut commodi quod omnis laudantium harum reprehenderit, at 
		porro incidunt! Deleniti culpa eligendi sequi minus eius quae, iure asperiores, 
		velit sunt esse molestiae nam, fugit veritatis est repellendus laudantium aliquam 
		possimus dicta? Placeat repudiandae fugiat animi quas amet dolore dolorem sunt 
		recusandae culpa, esse pariatur nostrum atque asperiores sequi aliquid temporibus 
		ex quis? Molestiae voluptatum nobis minima, eligendi harum ipsam suscipit mollitia 
		repudiandae dicta quo provident repellat dolores voluptas unde, amet obcaecati 
		maiores sed doloremque est dolorum blanditiis praesentium quia asperiores? Ut 
		perferendis animi magnam cumque velit quidem at unde atque, quasi doloribus 
		voluptatem dolores, ab iusto maxime neque sunt eos dolorum a ullam officiis dolorem 
		architecto cupiditate laborum possimus. Minima, nam! Quod obcaecati temporibus, 
	</p>
</body>
{% endblock contenido %}

