{% extends 'base.html' %}
{% load static %}

{% block titulo %}Blog de Inteligencia Artificial - SA{% endblock titulo %}

{% block contenido %}

<!-- Lista de imagenes -->
<body>
	
	<div class="slider-box">
		<ul>
			<li>
				<img src="{% static 'img/IA-1.jpg' %}">
			</li>
			<li>
				<img src="{% static 'img/IA-2.jpg' %}">
			</li>
			<li>
				<img src="{% static 'img/IA-3.jpeg' %}">
			</li>
		</ul>
		<div class="texto">
			<p>La IA no te sustituirá, una persona que use IA lo hará</p>
		</div>
	</div>
	
	<div class="portada">
		<h2>¿Qué es la IA?</h2>
		<p>La Inteligencia Artificial es como la magia de la computación. Son programas y máquinas que pueden hacer cosas inteligentes, 
			como aprender, pensar, entender cosas y resolver problemas, ¡como lo haría una persona!</p>
		<p class="division"></p>
	</div>
	<div class="portada-2">
		<p>Hoy en día la IA está avanzando muchísimo y está cambiando la forma en que vivimos. Es como tener asistentes mágicos en nuestras 
			computadoras y teléfonos que hacen cosas increíbles para nosotros.</p>
		<p class="division"></p>
	</div>
	<div class="portada-3">
		<p>En este blog, vamos a explorar todo lo emocionante que la IA está haciendo en el mundo hoy en día. Únete a nosotros para descubrir 
			este mundo mágico de la Inteligencia Artificial!</p>
		<p class="division"></p>
	</div>

	<h2 class="titulo-noti-reciente">Noticias Recientes</h2>
	<ul class="contenedor-noticias-recientes">
		{% for noticia in ultimas_noticias %}
			<li>
				<img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}">
				<div class="contenido-noti">
					<h3>{{ noticia.titulo }}</h3>
					<p>Categoria: {{ noticia.categoria_noticia }}</p>
					<p>Fecha de Publicación: {{ noticia.fecha }}</p>
					<a href="{% url 'noticias:detalle' pk=noticia.pk %}">Leer más</a>
				</div>
			</li>
		{% endfor %}
	</ul>

</body>
{% endblock contenido %}

