{% extends 'base.html' %}
{% load static %}

{% block titulo %}INICIO{% endblock titulo %}

{% block contenido %}

<!-- Lista de imagenes -->
<body>
	
	<div class="slider-box">
		<ul>
			<li>
				<img src="{% static 'img/IA-1.jpg' %}">
			</li>
			<li>
				<img src="{% static 'img/IA-2.jpg' %}">
			</li>
			<li>
				<img src="{% static 'img/IA-3.jpeg' %}">
			</li>
		</ul>
		<div class="texto">
			<p>La IA no te sustituirá, una persona que use IA lo hará</p>
		</div>
	</div>
	
	<div>
		<h2>¿Qué es la IA?</h2>
		<p>La Inteligencia Artificial es como la magia de la computación. Son programas y máquinas que pueden hacer cosas inteligentes, 
			como aprender, pensar, entender cosas y resolver problemas, ¡como lo haría una persona!</p>
	</div>
	<div>
		<p>Hoy en día la IA está avanzando muchísimo y está cambiando la forma en que vivimos. Es como tener asistentes mágicos en nuestras 
			computadoras y teléfonos que hacen cosas increíbles para nosotros.</p>
	</div>
	<div>
		<p>En este blog, vamos a explorar todo lo emocionante que la IA está haciendo en el mundo hoy en día. Únete a nosotros para descubrir 
			este mundo mágico de la Inteligencia Artificial!</p>
	</div>

	<h2>Últimas Noticias</h2>
	<ul>
		{% for noticia in ultimas_noticias %}
			<li>
				<img src="{{ noticia.imagen.url }}" alt="{{ noticia.titulo }}">
				<h3>{{ noticia.titulo }}</h3>
				<p>{{ noticia.contenido }}</p>
				<p>Fecha de Publicación: {{ noticia.fecha_publicacion }}</p>
				<!-- Otros campos de la noticia que quieras mostrar -->
			</li>
		{% endfor %}
	</ul>

	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis in nisi tenetur sequi necessitatibus ad voluptas, voluptatem commodi dolorum eaque nam reiciendis doloremque autem sapiente sunt ipsam, accusamus sed vel?</p>
</body>
{% endblock contenido %}

