{% extends 'base.html' %}
{% load static %}

{% block titulo %}NOSOTROS{% endblock titulo %}


{% block contenido %}
<div class="nosotros">
	<h2>Bienvenidos a S.A.</h2>
	<div class="fondo-nosotros1">
		<div class="nosotros1">
			<img src="{% static 'img/logo2-sa.jpeg' %}" alt="">
		<p>
			Somos un equipo apasionado por la Inteligencia Artificial y estamos encantados de tenerte aquí. 
			En S.A., estamos comprometidos a ser tu fuente confiable de noticias e información 
			sobre los avances más recientes en el emocionante campo de la IA.
		</p>
		</div>
	</div>
	
	<div class="nosotros2">
		<img src="{% static 'img/nosotros.jpg' %}" alt="">
		<p>
			En este espacio, encontrarás noticias, análisis profundo, y perspectivas variadas sobre cómo la IA 
			está transformando el presente y el futuro. Además, destacamos la ética, la responsabilidad y la 
			diversidad en el uso de la IA para contribuir a un desarrollo tecnológico más equitativo y sostenible.
		</p>
	</div>
	<div class="fondo-nosotros2">
		<div class="nosotros3">
			<img src="{% static 'img/nosotros2.png' %}" alt="">
		<p>
			Gracias por unirte a nosotros en este viaje emocionante. ¡Esperamos inspirarte, desafiarte a pensar 
			de manera diferente y ser tu destino confiable para todo lo relacionado con la Inteligencia Artificial!
		</p>
		</div>
		<div class="equipo">
			<p>
				El Equipo de Error-404
			</p>
		</div>
	</div>
</div>
	
	
{% endblock contenido %}

